body {
  height: 400px;
  width: 350px;
  background-color: rgb(184, 131, 235);
  font-family: "Baloo 2", cursive;
}

.header {
  display: flex;
  justify-content: center;
  background-color: rgb(65, 20, 65);
  height: 40px;
  margin: -8px;
  padding: 5px;
}

#time {
  text-align: center;
  font-size: 50px;
  margin: 15px 15px 0px 15px;
  /* font-weight: normal; */
  /* font-family: 'Courier New', Courier, monospace; */
  color: rgb(65, 20, 65);
}

#btnContainer {
  display: flex;
  justify-content: space-evenly;
}

#btnContainer > button {
  color: rgb(184, 131, 235);
  background-color: rgb(65, 20, 65);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  margin: 3px;
  width: 100px;
  cursor: pointer;
  font-family: "Baloo 2", cursive;
  font-size: 1rem;
}

#taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.inputTask {
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  width: 250px;
}

.inputDeleteBtn {
  outline: none;
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  font-weight: 700;
  color: rgb(65, 20, 65);
}
